# Sample environment variables for development
PORT=xxxxxxxxxx
SUPABASE_URL=xxxxxxxxxxxxxxxx
SUPABASE_KEY=your-service-role-key
REDIS_URL=xxxxxxxxxx

GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# API keys for external services
RAPIDAPI_KEY=xxxxxxxxxxxxxxxx
RAPIDAPI_HOST=xxxxxxxxxxxxxxxx

JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxx